{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/knowledge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/contact.css' %}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Tutor trade</title>
    {% endif %}
  </head>

  <body>
    <!-- top header -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"><i class="fas fa-school"></i>&nbsp&nbspWelcome to Tutor Trade&nbsp&nbsp<i class="fas fa-exchange-alt"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if messg %}
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'blog-knowledge' %}">Knowledge Board</a>
                {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if messg %}
                    <a class="nav-item nav-link" href="{% url 'blog-login' %}">Log in</a>
                    <a class="nav-item nav-link" href="{% url 'blog-signup' %}">Sign Up</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'blog-logout' %}">Log out</a>
                    <a class="nav-item nav-link" href="{% url 'blog-myProfile' %}">My Profile</a>
                    <div class= "nav-down">
                      <a class="nav-item nav-down nav-link" id="icon_inbox">
                        <i class="fas fa-bell" style="font-size: 1.2rem; position: fixed;"></i>
                        <div id="inbox_count" style="display:none;"></div>
                      </a>
                      <div class="hide" id="inbox" style="display:none;">
                        <div class="inbox_content_header" style="">
                          Matching Requests
                        </div>
                        <div class="inbox_content_body" style="" id="inbox_body">
                          <div class="inbox_content_row" id="no_request">No Matching Request</div>
                        </div>
                      </div>
                    </div>
                    <!-- <a class="nav-item nav-link" href="{% url 'blog-post_form' %}">Make a Post</a> -->
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- bottom header -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto" style="color: white;">
              Bringing free knowledge to all UCSC students.
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-contact' %}" style="color:white;">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <main role="main" class="container" style="margin-bottom: 100px;">
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-8">
          <div class="title_container">
            <h1>Contact Us</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="title_container">
          </div>
        </div>
      </div>

      <div class="row" style="padding: 0 10px;">
        <div class="column">
          <div class="card">
            <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="contact_container">
              <h2>Cris Castillo</h2>
              <p class="title">Product Owner</p>
              <p>Founder of multi-million dollar UCSC Tutoring App</p>
              <p>ccarri11@ucsc.edu</p>
              <p><button class="button"><a href="mailto:ccarri11@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="contact_container">
              <h2>Brian Alegria</h2>
              <p class="title">Senior Developer</p>
              <p>My current rate is $500 per line of code</p>
              <p>brpereir@ucsc.edu</p>
              <p><button class="button"><a href="mailto:brpereir@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="contact_container">
              <h2>Dayna Kim</h2>
              <p class="title">Senior Developer</p>
              <p>250k a year.</p>
              <p>dkim197@ucsc.edu</p>
              <p><button class="button"><a href="mailto:dkim197@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="padding: 0 10px;">
        <div class="column">
          <div class="card">
            <!--  <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="contact_container">
              <h2>Kisoo Kim</h2>
              <p class="title">Senior Developer</p>
              <p>Full Stack engineer</p>
              <p>kkim93@ucsc.edu</p>
              <p><button class="button"><a href="mailto:kkim93@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="contact_container">
              <h2>Josh Rony</h2>
              <p class="title">Senior Developer</p>
              <p>Developer</p>
              <p>jrony@ucsc.edu</p>
              <p><button class="button"><a href="mailto:jrony@ucsc.edu?"Subject=Hello%20again target="_top">Contact</a></button></p>
            </div>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-auth.js"></script>

    <script>


      var firebaseConfig = {
        apiKey: "AIzaSyBHHg2e5gRop8tcO2RReu8paiEXJbGomVw",
        authDomain: "verve-slug-tutor.firebaseapp.com",
        databaseURL: "https://verve-slug-tutor.firebaseio.com",
        projectId: "verve-slug-tutor",
        storageBucket: "verve-slug-tutor.appspot.com",
        messagingSenderId: "1013220996189",
        appId: "1:1013220996189:web:462bd852caeea191"
      };

      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      $(document).ready(function(){
        // console.log(document.getElementById('localID').innerHTML);
        console.log(`localID is ${sessionStorage.getItem('localID')}`);
        console.log(`email is ${sessionStorage.getItem('email')}`);
        firebase.database().ref(`users/${sessionStorage.getItem('localID')}`).child('details').once('value', function(data){
          console.log(`data_val is ${data.val()}`);
          var fullname = `${data.val()['name']} ${data.val()['name2']}`;
          sessionStorage.setItem('name', fullname);
          console.log(`checkin`);
          console.log(`name is ${fullname}`);
          var inbox_body = document.getElementById("inbox_body");
          console.log(inbox_body.innerHTML);
          var inbox_count = document.getElementById("inbox_count");
          if(data.val().matchList === undefined){
            inbox_count.style.display = 'none';
            console.log("No match request in here");
            inbox_body.innerHTML = '<div class="inbox_content_row" id="no_request">No Matching Request</div>';
          }
          else{
            var matchkeyList = Object.keys(data.val().matchList);
            console.log("matchkeyList", matchkeyList, matchkeyList.length);
            var inbox_body = document.getElementById("inbox_body");
            inbox_count.style.display = 'block';
            // inbox_body.innerHTML = '<div class="inbox_content_row" id="no_request">There is a match</div>';
            var str_inbox = "";
            for(var i=0; i<matchkeyList.length; i++){
              var match_email = data.val().matchList[matchkeyList[i]].email;
              var match_key = data.val().matchList[matchkeyList[i]].contentKey;
              console.log(match_email);
              str_inbox = str_inbox+'<div class="inbox_content_row" id="no_request">Match with '+match_email+'<a href="{% url "blog-knowledge_content" %}" onclick="moveToContent('+match_key+')"><button type="button" class="btn btn-raised btn-success">Check</button></a></div>'
            }
            inbox_body.innerHTML = str_inbox;
          }
        });
      });

      $('#icon_inbox').click(function(){
        console.log("plz");
        var inbox = document.getElementById("inbox");
        if(inbox.style.display == 'none')
          inbox.style.display = 'block';
        else {
          inbox.style.display = 'none';
        }
      });

      function moveToContent(contentKey){
        sessionStorage.setItem('contentKey', contentKey);
      }
    </script>

  </body>
</html>
