{% extends "blog/base.html" %}
{% block content %}

      <h1>Contact Us</h1>
      <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">

        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact</a>
            </div>

{% endblock content %}
