{% load static %}
<!DOCTYPE html>
<html>
  <head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/knowledge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/signup.css' %}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Tutor trade</title>
    {% endif %}
  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Welcome to Tutor Trade</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-knowledge' %}" style="color:white;">Knowledge Board</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-profile' %}">My Profile</a>
              <a class="nav-item nav-link" href="{% url 'blog-logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-8">
          <div class="title_container" >
            <h5 id="welcome-tag"></h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="title_container">

          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <!-- <div class="col-md-3">
          <div class="content-section">
            <h3>Search Tutor</h3>

              <ul class="list-group">
                <li class="list-group-item list-group-item-light" style="color: black;">
                  <div class="search_row">
                    <div class="search_title">Looking for</div>
                    <span class="search_input">
                      <input type="search1" name ="search1" id="search1_input" maxlength="40" style="border: none; width: 100%;" />
                    </span>
                  </div>
                </li>
                <li class="list-group-item list-group-item-light" style="color: black;">
                  <div class="search_row">
                    <div class="search_title">Offering</div>
                    <span class="search_input">
                      <input type="search2" name ="search2" id="search2_input" maxlength="40" style="border: none; width: 100%;" />
                    </span>
                  </div>
                </li>
                <li class="list-group-item list-group-item-light">Offering</li>
                <li class="list-group-item list-group-item-light">Offering box</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
          </div>
        </div> -->

        <div class="col-md-9">
          <div class="content-section" style="margin-bottom: 100px;">
            <!-- <h3>knowledge board part</h3> -->

            <!-- <div class="row" id="post-container"> -->

              <form class="form-horizontal">
                <div class="form-group" style="margin-top: 2vh;">
                  <!-- <label class="col-sm-2 control-label"><strong>Title</strong></label> -->
                  <div class="col-sm-10">
                    <p class="form-control-static" id="post-title"></p>
                  </div>
                  <div class="col-sm-10" style="margin-bottom: 2vh">
                    <p class="form-control-static" id="post-author"></p>
                  </div>
                  <!-- <label class="col-sm-2 control-label"><strong>Content</strong></label> -->
                  <div class="finding-part" style="margin-bottom: 2vh">
                    <em><label class="col-sm-2 control-label" style="max-width:100%"><strong>I'm looking for the one who can teach me..</strong></label></em>
                    <div class="col-sm-10">
                      <p class="form-control-static" style="font-size: 20px" id="post-look"></p>
                    </div>
                  </div>
                  <div class="offering-part" style="margin-bottom: 2vh">
                    <em><label class="col-sm-2 control-label" style="max-width:100%"><strong>and I can help you learn..</strong></label></em>
                    <div class="col-sm-10">
                      <p class="form-control-static" style="font-size: 20px" id="post-offer"></p>
                    </div>
                  </div>
                  <div class="col-sm-10" style="height: 30vh; max-width: 100%">
                    <p class="lead" id="post-content"></p>
                  </div>
                </div>
                <div class="form-group" style="max-width: 100%;">
                  <div style="display: flex;           /* establish flex container */
                              flex-direction: row;  /* make main axis vertical */
                              justify-content: space-around; /* center items vertically, in this case */
                              align-items: center;     /* center items horizontally, in this case */; width: 100%; height: 5vh;" >
                    <button type="button" class="btn btn-danger" id="delete-button" style="display:none;"><a style="color:#fff" href="{% url 'blog-knowledge' %}">Delete</a></button>
                    <button type="button" class="btn btn-primary" id="update-button" style="display:none;"><a style="color:#fff" href="{% url 'blog-knowledge_content_update' %}">Update</a></button>
                </div>
                </div>
              </form>
              <!-- <div class="col-md-6 post-box">
                <div class="post-box">
                box1
                </div>
              </div>
              <div class="col-md-6 post-box">
                box2
              </div> -->

          <!-- {% for post in posts %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
          </article>
          {% endfor %} -->
            <!-- </div> -->
          </div>

        </div>
      </div>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

 </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-auth.js"></script>

    <script>
    console.log('knowledge board!');
    console.log(sessionStorage.getItem('contentKey'));
    console.log(sessionStorage.getItem('email'));
    $("#welcome-tag").append(`Welcome, ${sessionStorage.getItem('name')}!`);




    var firebaseConfig = {
      apiKey: "AIzaSyBHHg2e5gRop8tcO2RReu8paiEXJbGomVw",
      authDomain: "verve-slug-tutor.firebaseapp.com",
      databaseURL: "https://verve-slug-tutor.firebaseio.com",
      projectId: "verve-slug-tutor",
      storageBucket: "verve-slug-tutor.appspot.com",
      messagingSenderId: "1013220996189",
      appId: "1:1013220996189:web:462bd852caeea191"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    var fbAuth = firebase.auth();
    var fbData = firebase.database();

    $("#delete-button").click(function(){
      fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).remove();
      alert('successfully deleted.');
    })




    fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).once('value', function(snapshot) {
      var postList = snapshot.val();
      console.log(postList);

      if(sessionStorage.getItem('email')===postList.email){
        console.log(`true`);
        $("#delete-button").css("display","flex");
        $("#update-button").css("display","flex");
      } else{
        console.log(`false`);
      }
      // console.log(Object.keys(postList));
      // console.log(Object.keys(postList).length);
      $("#post-title").append(`<h1>${postList.title}</h1>`);
      $("#post-author").append(`<h2><small style="color: #808080;">by ${postList.author}</small></h2>`);
      $("#post-content").append(postList.content);
      $("#post-look").append(`<u>${postList.look}</u>`);
      $("#post-offer").append(`<u>${postList.offer}</u>`);

      // var keyList = Object.keys(postList);
      // var postLength = keyList.length;
      // console.log(keyList, postLength);
      // var postcontainer = document.getElementById("post-container");
      // console.log(postcontainer);
      // console.log(postcontainer.innerHTML);
      // var postAllHTML = "";
      // for(var i=0; i<keyList.length; i++) {
      //   var post = "";
      //   var curKey = keyList[i];
      //   // console.log(postList[curKey].author);
      //   var author = postList[curKey].author;
      //   // var content = postList[curKey].content;
      //   var date_posted = postList[curKey].date_posted;
      //   // var email = postList[curKey].email;
      //   // var status = postList[curKey].status;
      //   var title = postList[curKey].title;
      //
      //   post = `${title} <br/>${author} <br/>${date_posted}`;
      //   postHTML = '<div class="col-md-6"><div class="post-box">'+post+'</div></div>'
      //   postAllHTML += postHTML;
      // }
      // postcontainer.innerHTML = postAllHTML;
      // console.log(post.length());
    });


    </script>
  </body>

</html>
