{% load static %}
<!DOCTYPE html>
<html>
  <head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/knowledge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/signup.css' %}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Tutor trade</title>
    {% endif %}
  </head>

  <body>
    <!-- top header -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"><i class="fas fa-school"></i>&nbsp&nbspWelcome to Tutor Trade&nbsp&nbsp<i class="fas fa-exchange-alt"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-knowledge' %}" style="color:white;">Knowledge Board</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-myProfile' %}">My Profile</a>
              <a class="nav-item nav-link" href="{% url 'blog-logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- bottom header -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto" style="color: white;">
              Bringing free knowledge to all UCSC students.
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <main role="main" class="container">
      <div class="row" style="height: 5vh; margin-bottom: 10px;">
        <div class="col-md-8" style="">
          <div class="title_container" style="height: 10px">
            <h5 id="welcome-tag"></h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="title_container">
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-md-9" style="flex: 1 1 100%; max-width: 100%">
          <div class="content-section" style="max-height: 60vh">

              <form class="form-horizontal">
                <div class="form-group" style="margin-top: 1vh;">
                  <!-- <label class="col-sm-2 control-label"><strong>Title</strong></label> -->
                  <div class="col-sm-10" style="margin: 0 0 0 0;">
                    <div class="form-control-static" id="post-title"></div>
                  </div>
                  <div class="col-sm-10" style="margin-bottom: 1vh">
                    <p class="form-control-static" id="post-author"></p>
                  </div>
                  <!-- <label class="col-sm-2 control-label"><strong>Content</strong></label> -->
                  <div class="finding-part" style="margin-bottom: 2vh; display: flex; flex-direction: row" >
                    <div style="padding-left: 15px; width: 30vw"><em><strong>I need tutoring in: </strong></em></div>
                    <div class="col-sm-10" style="max-width: 50vw">
                      <p class="form-control-static" style="font-size: 20px" id="post-look"></p>
                    </div>
                  </div>
                  <div class="offering-part" style="margin-bottom: 2vh; display: flex; flex-direction: row">
                    <div style="padding-left: 15px; width: 30vw"><em><strong>I can tutor in: </strong></em></div>
                    <div class="col-sm-10" style="max-width: 50vw" >
                      <p class="form-control-static" style="font-size: 20px" id="post-offer"></p>
                    </div>
                  </div>
                  <div class="col-sm-10" style="max-width: 100%">
                    <p class="lead" id="post-content"></p>
                  </div>
                  <div class="col-sm-10" style="height: 10vh; max-width: 100%">
                    <div style="display:flex;" id="current-request"></div>
                  </div>
                </div>
                <div class="form-group" style="max-width: 100%;">
                  <div style="display: flex;           /* establish flex container */
                              flex-direction: row;  /* make main axis vertical */
                              justify-content: space-around; /* center items vertically, in this case */
                              align-items: center;     /* center items horizontally, in this case */; width: 100%; height: 5vh;" >
                    <button type="button" class="btn btn-raised btn-danger" id="delete-button" style="display:none;"><a style="color:#fff" href="{% url 'blog-knowledge' %}">Delete</a></button>
                    <button type="button" class="btn btn-raised btn-primary" id="update-button" style="display:none;"><a style="color:#fff" href="{% url 'blog-knowledge_content_update' %}">Update</a></button>
                    <button type="button" class="btn btn-raised btn-primary" id="close-button" style="display:none;">CLOSED</button>
                    <button type="button" class="btn btn-raised btn-info" id="request-button" style="display:none"><a style="color:#fff">Request</a></button>
                    <button type="button" class="btn btn-raised btn-warning" id="list-button" style="display:none">Applicant list</button>
                    <button type="button" class="btn btn-raised btn-default" style="border: 1px solid #000"><a style="color: #000;" href="{% url 'blog-knowledge' %}">Go Board</a></button>
                </div>
                </div>
              </form>

          </div>
          <div id="request-comment"></div>
          <div id="request-submit"></div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-auth.js"></script>

    <script>
    console.log(`current contentKey is ${sessionStorage.getItem('contentKey')}`);
    console.log(`user email is ${sessionStorage.getItem('email')}`);
    console.log(`user name is ${sessionStorage.getItem('name')}`)


    var firebaseConfig = {
      apiKey: "AIzaSyBHHg2e5gRop8tcO2RReu8paiEXJbGomVw",
      authDomain: "verve-slug-tutor.firebaseapp.com",
      databaseURL: "https://verve-slug-tutor.firebaseio.com",
      projectId: "verve-slug-tutor",
      storageBucket: "verve-slug-tutor.appspot.com",
      messagingSenderId: "1013220996189",
      appId: "1:1013220996189:web:462bd852caeea191"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    var fbAuth = firebase.auth();
    var fbData = firebase.database();
    var reqFlag=true;
    var clickFlag=true;
    async function checkDuplicateReq(fbData){
      console.log('start');
      // var flag=true;
      // await fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).once('value', function(snapshot) {
      //
      // });
      await fbData.ref(`post/${sessionStorage.getItem('contentKey')}/list`).once('value', function(snapshot) {
        if(snapshot.val()===null){
          console.log(`null`);
        } else{
          for(var i=0;i<Object.keys(snapshot.val()).length;i++){
            fbData.ref(`post/${sessionStorage.getItem('contentKey')}/list/${Object.keys(snapshot.val())[i]}`).once('value', function(snapshot) {
              console.log(`email is ${snapshot.val().email}`);
              if(snapshot.val().email===sessionStorage.getItem('email')){
                reqFlag=false;
              }
            });
          }
        }
        // console.log(`I wanna check ${Object.keys(snapshot.val())}`);
        // console.log(`I wanna check ${Object.keys(snapshot.val()).length}`);

      });
      console.log(reqFlag);
    }

    checkDuplicateReq(fbData);

    $("#delete-button").click(function(){
      fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).remove();
    })

    $("#submit-button").click(function(){
      // console.log('hello');
      // if($("#comment-input").val().length<10){
      //   alert('Please, write your comments more than 10 characters..!');
      // } else{
      //   fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).once('value', function(snapshot) {
      //     // console.log(`current reqCnt is ${snapshot.val().reqCnt}`);
      //     // var updateCnt=snapshot.val().reqCnt+1;
      //     // fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).update({
      //     //   reqCnt: updateCnt
      //     // });
      //     if(fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).child('list').push({
      //       email: sessionStorage.getItem('email'),
      //       content: $("#comment-input").val()
      //     })){
      //       window.location.replace('../knowledge');
      //     } else{
      //       alert('error.');
      //     }
      //   });
      // }
    });


    $("#request-button").click(function(){
      // console.log(`${parseInt(document.getElementById('current-request').innerHTML[0])+1}!!!`);
      // var updateReq=parseInt(document.getElementById('current-request').innerHTML[0])+1;
      if(clickFlag&&reqFlag){
        clickFlag=false;
        // fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).update({
        //   reqCnt: updateReq
        // });
        // fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).child('list').push({
        //   email: sessionStorage.getItem('email')
        // })
        $("#request-comment").append(`<div class="content-section"><label for="exampleFormControlTextarea1">Comments</label>
                                      <button style="margin-left: 10px" type="button" class="btn btn-raised btn-primary" id="submit-button" onclick="checkAndDo();">Submit</button>
                                      <textarea class="form-control" id="comment-input" rows="3"></textarea></div>`);
        // window.location.replace('request');
      } else{
        if(!clickFlag){
          alert('If you want to make a request, write a comment and press submit button.');
        } else{
          alert('You already made a request. Please wait.');
        }

      }
    });

    $("#list-button").click(function(){
      fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).once('value', function(snapshot) {
        var postList = snapshot.val();
        console.log(`postList is ${postList}`);
        console.log(`${postList['list']}`)
        if(postList['list']===undefined){
          alert('there is no request now.');
        } else{
          window.location.replace('list');
        }
      });
      // fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).update({
      //   matching: "y"
      // });
      // <a style="color:#fff" href="{% url 'blog-knowledge_content_list' %}">
    })

    function checkAndDo(){
      if($("#comment-input").val().length<10){
        alert('Please, write your comments more than 10 characters..!');
      } else{
        fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).once('value', function(snapshot) {
          // console.log(`current reqCnt is ${snapshot.val().reqCnt}`);
          // var updateCnt=snapshot.val().reqCnt+1;
          // fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).update({
          //   reqCnt: updateCnt
          // });
          if(fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).child('list').push({
            email: sessionStorage.getItem('email'),
            content: $("#comment-input").val()
          })){
            window.location.replace('../knowledge');
          } else{
            alert('error.');
          }
        });
      }
    }

    fbData.ref(`post/${sessionStorage.getItem('contentKey')}`).once('value', function(snapshot) {
      var postList = snapshot.val();
      console.log(postList);

      if(sessionStorage.getItem('email')===postList.email){ // current content is user's content
        console.log(`It is my post!`);
        $("#delete-button").css("display","flex");
        $("#update-button").css("display","flex");
        $("#list-button").css("display", "flex");
        // if(postList.matching==="n"){
        //   $("#complete-button").css("display", "flex");
        // } else{
        //   $("#complete-button").css("display", "flex");
        //   document.getElementById("complete-button").setAttribute('disabled','disabled');
        // }
        if(postList.matching==="y"){ // it already is closed
          console.log(`matching yes`);
          // document.getElementById("list-button").setAttribute('disabled','disabled');
          $("#list-button").remove();
          $("#delete-button").remove();
          $("#update-button").remove();
          $("#close-button").css("display", "flex");
        }else{ // not yet
          console.log(`matching no`);
        }
      } else{ // not
        if(postList.matching==="y"){
          console.log(`matching yes`);
          document.getElementById("request-button").setAttribute('disabled','disabled');
        }else{
          console.log(`matching no!!`);
        }
        console.log(`false`);
        $("#request-button").css("display", "flex");


      }
      // console.log(Object.keys(postList));
      // console.log(Object.keys(postList).length);
      $("#post-title").append(`<h1>${postList.title}</h1>`);
      $("#post-author").append(`<h2><small style="color: #808080;">by ${postList.author}</small></h2>`);
      $("#post-content").append(postList.content);
      $("#post-look").append(`<u>${postList.look}</u>`);
      $("#post-offer").append(`<u>${postList.offer}</u>`);

      // conditional statement for displaying request or request(s)
      // if(postList.reqCnt == 1){
      //   $("#current-request").append(`${postList.reqCnt} request have been made!`);
      // } else {
      //   $("#current-request").append(`${postList.reqCnt} requests have been made!`);
      // }

      // var keyList = Object.keys(postList);
      // var postLength = keyList.length;
      // console.log(keyList, postLength);
      // var postcontainer = document.getElementById("post-container");
      // console.log(postcontainer);
      // console.log(postcontainer.innerHTML);
      // var postAllHTML = "";
      // for(var i=0; i<keyList.length; i++) {
      //   var post = "";
      //   var curKey = keyList[i];
      //   // console.log(postList[curKey].author);
      //   var author = postList[curKey].author;
      //   // var content = postList[curKey].content;
      //   var date_posted = postList[curKey].date_posted;
      //   // var email = postList[curKey].email;
      //   // var status = postList[curKey].status;
      //   var title = postList[curKey].title;
      //
      //   post = `${title} <br/>${author} <br/>${date_posted}`;
      //   postHTML = '<div class="col-md-6"><div class="post-box">'+post+'</div></div>'
      //   postAllHTML += postHTML;
      // }
      // postcontainer.innerHTML = postAllHTML;
      // console.log(post.length());
    });


    </script>
  </body>

</html>
