{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/signup.css' %}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Tutor trade</title>
    {% endif %}

<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
</style>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Welcome to Tutor Trade</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-knowledge' %}">Knowledge Board</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'blog-signup' %}">Signup</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="knowledge_container">
      	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for subject..">
      	<ul id="myUL">
      		<li><a class="nav-item nav-link" href="{% url 'blog-biology' %}">Biology</a></li>
      		<li><a class="nav-item nav-link" href="{% url 'blog-chemistry' %}">Chemistry</a></li>
      		<li><a href="#">Computer Engineering</a></li>
      		<li><a href="#">Computer Science</a></li>
      		<li><a href="#">Economics</a></li>
			<li><a href="#">Electrical Engineering</a></li>
  			<li><a href="#">English</a></li>
  			<li><a class="nav-item nav-link" href="{% url 'blog-math' %}">Math</a></li>
			<li><a href="#">Physics</a></li>
		 	<li><a href="#">Statistics and Probability</a></li>	  	
		</ul>
		<script>
			function myFunction()
			{
				var input, filter, ul, li, a, i, txtValue;
				input = document.getElementById("myInput");
			    filter = input.value.toUpperCase();
			    ul = document.getElementById("myUL");
			    li = ul.getElementsByTagName("li");
			    for (i = 0; i < li.length; i++) 
			    {
			    	a = li[i].getElementsByTagName("a")[0];
		        	txtValue = a.textContent || a.innerText;
        			
        			if (txtValue.toUpperCase().indexOf(filter) > -1)
        			{
        				li[i].style.display = "";
        			}
        			else
        			{
        				li[i].style.display = "none";
        			}
    			}
			}
		</script>
	</div>
        
        <!-- <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>Tutor Trade a new and free tutoring service.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div> -->
      </div>
    </main>

   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>