{% load static %}
<!DOCTYPE html>

<html>
  <head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/makePost.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/knowledge.css' %}">


    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Tutor trade</title>
    {% endif %}
    <!-- <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-auth.js"></script> -->
  </head>




  <body>
    <!-- top header -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"><i class="fas fa-school"></i>&nbsp&nbspWelcome to Tutor Trade&nbsp&nbsp<i class="fas fa-exchange-alt"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-knowledge' %}">Knowledge Board</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-logout' %}">Logout</a>
              <a class="nav-item nav-link" href="{% url 'blog-myProfile' %}">My Profile</a>
              <div class= "nav-down">
                <a class="nav-item nav-down nav-link" id="icon_inbox">
                  <i class="fas fa-bell" style="font-size: 1.2rem; position: fixed;"></i>
                  <div id="inbox_count" style="display:none;"></div>
                </a>
                <div class="hide" id="inbox" style="display:none;">
                  <div class="inbox_content_header" style="">
                    Matching Requests
                  </div>
                  <div class="inbox_content_body" style="" id="inbox_body">
                    <div class="inbox_content_row" id="no_request">No Matching Request</div>
                  </div>
                </div>
              </div>
              <!-- <a class="nav-item nav-link" href="{% url 'blog-post_form' %}" style="color:white;">Make a Post</a> -->
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- bottom header -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto" style="color: white;">
              Bringing free knowledge to all UCSC students.
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      {% load crispy_forms_tags %}
      {% block content %}

       <div class="content-section" style="padding-top: 10px; width: 900px; margin: auto; margin-bottom: 100px;">
         <form action="/knowledge" class="form-horizontal">
           <div>
             <legend class="border-bottom mb-4">Make a Post</legend>
         </div>
        <div class="form-group">
          <label for="inputTitle3" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="name" class="form-control" id="input-title" >
          </div>
        </div>
        <div class="form-group">
          <label for="inputSubject3" class="col-sm-2 control-label" style="max-width: 30vw">Subject you need tutoring in: </label>
          <div class="col-sm-offset-2 col-sm-10">
            <!-- not implemented yet. -->
            <input type="text" class="form-control" id="lookfor-subject" placeholder="I need tutoring in" onchange="input1Check()">
            <span class="error_next_box" id="input1Msg" style="display:none" role="alert">&nbsp&nbsp&nbsp&nbspIncorrect subject: </span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSubject3" class="col-sm-2 control-label" style="max-width: 30vw">Subject that you can tutor: </label>
          <div class="col-sm-offset-2 col-sm-10">
            <!-- not implemented yet. -->
            <input type="text" class="form-control" id="teach-subject" placeholder="I can tutor in" onchange="input2Check()">
            <span class="error_next_box" id="input2Msg" style="display:none" role="alert">&nbsp&nbsp&nbsp&nbspIncorrect subject</span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputContent3" class="col-sm-2 control-label">Content</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3"id="input-content"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="button-post" class="btn btn-raised btn-success"><a href="{% url "blog-knowledge"%}" style="color: #fff;" >Post</a></button>
          </div>
        </div>
      </form>
      {% endblock content %}
    </main>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-auth.js"></script>

    <script>
      $(document).ready(function(){
        console.log(sessionStorage.getItem('email'));
        console.log(sessionStorage.getItem('name'));
      })

      var d = new Date();
      console.log(`Today is ${d.getFullYear()}, ${d.getMonth()+1}, ${d.getDate()}`);
      var firebaseConfig = {
        apiKey: "AIzaSyBHHg2e5gRop8tcO2RReu8paiEXJbGomVw",
        authDomain: "verve-slug-tutor.firebaseapp.com",
        databaseURL: "https://verve-slug-tutor.firebaseio.com",
        projectId: "verve-slug-tutor",
        storageBucket: "verve-slug-tutor.appspot.com",
        messagingSenderId: "1013220996189",
        appId: "1:1013220996189:web:615c1dfe72a6e660"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      $(document).ready(function(){
        // console.log(document.getElementById('localID').innerHTML);
        console.log(`localID is ${sessionStorage.getItem('localID')}`);
        console.log(`email is ${sessionStorage.getItem('email')}`);
        firebase.database().ref(`users/${sessionStorage.getItem('localID')}`).child('details').once('value', function(data){
          console.log(`data_val is ${data.val()}`);
          var fullname = `${data.val()['name']} ${data.val()['name2']}`;
          sessionStorage.setItem('name', fullname);
          console.log(`checkin`);
          console.log(`name is ${fullname}`);
          var inbox_body = document.getElementById("inbox_body");
          console.log(inbox_body.innerHTML);
          var inbox_count = document.getElementById("inbox_count");
          if(data.val().matchList === undefined){
            inbox_count.style.display = 'none';
            console.log("No match request in here");
            inbox_body.innerHTML = '<div class="inbox_content_row" id="no_request">No Matching Request</div>';
          }
          else{
            var matchkeyList = Object.keys(data.val().matchList);
            console.log("matchkeyList", matchkeyList, matchkeyList.length);
            var inbox_body = document.getElementById("inbox_body");
            inbox_count.style.display = 'block';
            // inbox_body.innerHTML = '<div class="inbox_content_row" id="no_request">There is a match</div>';
            var str_inbox = "";
            for(var i=0; i<matchkeyList.length; i++){
              var match_email = data.val().matchList[matchkeyList[i]].email;
              var match_key = data.val().matchList[matchkeyList[i]].contentKey;
              console.log(match_email);
              str_inbox = str_inbox+'<div class="inbox_content_row" id="no_request">Match with '+match_email+'<a href="{% url "blog-knowledge_content" %}" onclick="moveToContent('+match_key+')"><button type="button" class="btn btn-raised btn-success">Check</button></a></div>'
            }
            inbox_body.innerHTML = str_inbox;
          }
        });
      });

      var courseNameList = [];

      firebase.database().ref('courseList/').once('value', function(snapshot){
        var courseList = snapshot.val();
        console.log("courseList: ", courseList);
        var category = Object.keys(courseList);
        console.log("category: ", category);
        // var courseNameList =[];
        for (var i=0; i<category.length; i++) {
          var curKey = category[i]; /* department name */
          var subcourseList = Object.keys(courseList[curKey]);
          // console.log(subcourseList);
          for (var j=0; j<subcourseList.length; j++) {
            // var subcurKey = subcourseList[j]; /* department name */
            var current = courseList[curKey][subcourseList[j]];
            courseNameList.push(current.cName);
          }
        }
        console.log(courseNameList);
      });

      /* Auto Complete */
      $( function() {
        // var names = [ "Jörn Zaefferer", "Scott González", "John Resig" ];
        var accentMap = { "á": "a", "ö": "o" };
        var normalize = function( term ) {
          var ret = "";
          for ( var i = 0; i < term.length; i++ ) {
            ret += accentMap[ term.charAt(i) ] || term.charAt(i);
          }
          return ret;
        };

        $( "#lookfor-subject" ).autocomplete({
          source: function( request, response ) {
            var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
            response( $.grep( courseNameList, function( value ) {
              value = value.label || value.value || value;
              return matcher.test( value ) || matcher.test( normalize( value ) );
            }) );
          },
          select: function( event, ui ) {
            $( "#lookfor-subject" ).val(ui.item.value);
            // // console.log("input text : "+ document.getElementById("pr2__answer").value);
            // $( "#pr2__submit" ).click();
            return false;
          },
          close: function(event, ui) {
            var input1 = $('#lookfor-subject').val();
            var input1CheckMsg = document.getElementById("input1Msg");
            if (courseNameList.includes(input1)){
              input1CheckMsg.style.display = 'none'
            }
            else{
              input1CheckMsg.style.display = 'block';
            }
            console.log("close");
          }
        });
      });

      $( function() {
        // var names = [ "Jörn Zaefferer", "Scott González", "John Resig" ];
        var accentMap = { "á": "a", "ö": "o" };
        var normalize = function( term ) {
          var ret = "";
          for ( var i = 0; i < term.length; i++ ) {
            ret += accentMap[ term.charAt(i) ] || term.charAt(i);
          }
          return ret;
        };

        $( "#teach-subject" ).autocomplete({
          source: function( request, response ) {
            var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
            response( $.grep( courseNameList, function( value ) {
              value = value.label || value.value || value;
              return matcher.test( value ) || matcher.test( normalize( value ) );
            }) );
          },
          select: function( event, ui ) {
            $( "#teach-subject" ).val(ui.item.value);
            // // console.log("input text : "+ document.getElementById("pr2__answer").value);
            // $( "#pr2__submit" ).click();
            return false;
          },
          close: function(event, ui) {
            var input2 = $('#teach-subject').val();
            var input2CheckMsg = document.getElementById("input2Msg");
            if (courseNameList.includes(input2)){
              input2CheckMsg.style.display = 'none'
            }
            else{
              input2CheckMsg.style.display = 'block';
            }
            console.log("close");
          }
        });
      });


      function input1Check() {
        var input1 = $('#lookfor-subject').val();
        var input1CheckMsg = document.getElementById("input1Msg");
        console.log("inputCheck: ", input1);
        if (courseNameList.includes(input1)){
          // console.log("inputCheck Success: ", input1);
          input1CheckMsg.style.display = 'none'
        }
        else{
          // console.log("inputCheck Failed: ", input1);
          if (input1CheckMsg.style.display == 'none')
            input1CheckMsg.style.display = 'block';
        }
      }

      function input2Check() {
        var input2 = $('#teach-subject').val();
        var input2CheckMsg = document.getElementById("input2Msg");
        console.log("inputCheck: ", input2);
        if (courseNameList.includes(input2)){
          input2CheckMsg.style.display = 'none'
        }
        else{
          if (input2CheckMsg.style.display == 'none')
            input2CheckMsg.style.display = 'block';
        }
      }

      $("#button-post").click(function(){
        var d = new Date();
        console.log(`Today is ${d.getFullYear()}, ${d.getMonth()}, ${d.getDate()}`);
        var title = $("#input-title").val();
        var content = $("#input-content").val();
        var look = $("#lookfor-subject").val();
        var offer = $("#teach-subject").val();
        var date = d.getFullYear().toString()+"/"+(d.getMonth()+1).toString()+"/"+d.getDate().toString();
        firebase.database().ref('post/').once('value', function(snapshot) {
          var postList = snapshot.val();
          var keyList = Object.keys(postList);
          // postCnt+= keyList.length;
          // postKey+= 'post'+(postCnt+1).toString();
          firebase.database().ref('post/').push({
              "title": title,
              "content": content,
              "look": look,
              "offer": offer,
              "date_posted": date,
              "email": sessionStorage.getItem('email'),
              "author": sessionStorage.getItem('name'),
              "reqCnt": 0,
              "matching": 'n'
          });
        });
      });

    $('#icon_inbox').click(function(){
      console.log("plz");
      var inbox = document.getElementById("inbox");
      if(inbox.style.display == 'none')
        inbox.style.display = 'block';
      else {
        inbox.style.display = 'none';
      }
    });

    function moveToContent(contentKey){
      sessionStorage.setItem('contentKey', contentKey);
    }
    </script>

  </body>
</html>
